@use "/src/var";

.container {
  background-color: var.$c-foreground;
  border-radius: 6px;
  padding: 12px 8px;
  transform: scale(1.2);

  .inputs {
    padding-top: 6px;
  }

  .controls {
    padding-top: 9px;
    display: flex;
    gap: 9px;

    & button {
      width: 100%;
      padding: 6px 0;
      background: none;

      border: 2px solid var.$c-blue;
      border-radius: 6px;

      cursor: pointer;

      font-size: 0.9rem;
      font-weight: 700;

      &:hover {
        background-color: var.$c-blue;
        color: var.$c-foreground;
      }
    }
  }
}
