@use "/src/var";

footer {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;

  & a {
    text-decoration: none;
    color: var.$c-blue;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
